@inherits LayoutComponentBase

<!-- Fluent UI Container (Simple Example) -->
<div style="background-color: #f3f2f1; padding: 10px;">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>Fluent UI Components</h3></Header>
        <SubHeader><p>A subheader here</p></SubHeader>
        <Body>
            Lorum ipsum...
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>

<!-- ★ Fluent UI Provider들 추가 -->
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />