@inherits LayoutComponentBase

<!-- Fluent UI Container (Simple Example) -->
<FluentDesignTheme>
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>Fluent UI Components</h3></Header>
        <SubHeader><p>A subheader here</p></SubHeader>
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
            <FluentNavLink Href="login" Text="Login">Login</FluentNavLink>
            <FluentNavLink Href="register" Text="Register">Register</FluentNavLink>
            <FluentNavLink Href="asset-register" Text="Asset">Asset</FluentNavLink>
            <FluentNavLink Href="excel-export" Text="ExcelExport">ExcelExport</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
    <!-- Provider들 -->
    <FluentToastProvider />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <FluentMessageBarProvider />
    <FluentMenuProvider />
</FluentDesignTheme>